@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@font-face {
    font-family: "ds-dg";
    src: url("./assets/fonts/dsdgib.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "ds-dg";
    src: url("./assets/fonts/dsdigi.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "ds-dg";
    src: url("./assets/fonts/dsdgit.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "ds-dg";
    src: url("./assets/fonts/dsdgii.ttf");
    font-weight: 400;
    font-style: italic;
}
body {
    font-family: "Wanted Sans Variable";
}
